<% include ./partials/header %>

<div class="container">
    <div class = >
        <h1 class="formHead">Add New Comment</h1>
        <div class = "formContain">
            <form action="/spaces/<%= space._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="New Comment">
                </div>
                
                <input class= "btn btn-primary btn-large btn-block" type="submit">
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>