<% include ./partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome!</h1>
            <h3>Come, peruse the bounty</h3>
            <a href="/spaces" class="btn btn-primary">See Spaces</a>
        </div>
    </header> 
</div>

<% include ./partials/footer %>